*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */
.avatar{
    width: 60px;
    border-radius: 50%;
}
.nav{
    height: 70px;
    border: 4px solid purple;
}
.contact{
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
}
.chat-name{
    margin: 0 15px;
    font-size: 18px;
}
/* end utility */

/* background */
#page{
    height: 100vh;
    background: #dcdbd1;
    position: relative;
}
#page>div:first-child{
    height: 16vh;
    background: #019688;
}

/* app */
#app{
    background: #fff;
    border: 4px solid yellow;
    width: 1200px;
    height: 800px;  /* reference */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
}

/* sidebar */
#sidebar{
    width: 40%;
    border: 4px solid green;
    display: flex;
    flex-direction: column;
}

/* section add desktop notification */
#add-desktop-notification{
    border: 4px solid dodgerblue;
    height: 70px;
}

/* search chat section */
#search-chat{
    border: 4px solid grey;
    height: 50px;
}

/* main */
#main{
    width: 60%;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
}
#main-content{
    border: 4px solid violet;
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    background-size: contain;
}
#input-message-area{
    height: 70px;
    border: 4px solid blue;
}
