*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input:focus-visible{
    outline: none;
}
i{
    cursor: pointer;
}

/* utility */
.avatar{
    width: 50px;
    border-radius: 50%;
}
.nav{
    height: 70px;
    background: #eaeae9;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact{
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
}
.chat-name{
    margin: 0 15px;
    font-size: 18px;
}
.nav-commands{
    display: flex;
    align-items: center;
    color: #bbb;
    font-size: 20px;
}
.nav-commands i{
    margin: 10px;
}
.row-message{
    display: flex;
    flex-direction: column;
}
.message{
    margin: 8px 0;
    padding: 8px 20px;
    width: 300px;
    border-radius: 10px;
}
.message-out{
    align-items: flex-end;
}
.message-in{
    align-items: flex-start;
}
.message-out .message{
    background: #d5f9b9;
}
.message-in .message{
    background: #fff;
}
/* end utility */

/* background */
#page{
    height: 100vh;
    background: #dcdbd1;
    position: relative;
}
#page>div:first-child{
    height: 16vh;
    background: #019688;
}

/* app */
#app{
    background: #fff;
    width: 1300px;
    height: 900px;  /* reference */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
}

/* sidebar */
#sidebar{
    width: 35%;
    display: flex;
    flex-direction: column;
}
#user-data{
    display: flex;
    align-items: center;
}
#user-data span{
    font-size: 15px;
    margin: 0 10px;
    font-weight: bold;
}


/* section add desktop notification */
#add-desktop-notification{
    padding: 8px 15px;
    background: #8ddafb;
    display: flex;
    align-items: center;
}
#add-desktop-notification > div:first-child{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #8ddafb;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-desktop-notification span{
    text-decoration: underline;
    font-size: 15px;
    color: #aaa;
    cursor: pointer;
}

/* search chat section */
#search-chat{
    padding: 10px;
    background: #fafafa;
}
#search-chat > div{
    border: 1px solid #eee;
    display: flex;
    align-items: center;
}
#search-chat input{
    width: 85%;
    height: 30px;
    border: none;
}
.search-button{
    width: 15%;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

/* main */
#main{
    width: 65%;
    display: flex;
    flex-direction: column;
}
#current-chat{
    border: 4px solid violet;
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    background-size: contain;
    padding: 50px 60px;
}
.current-contact{
    display: flex;
    align-items: center;
}
.current-contact-data{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
}
.current-contact-data span:last-child{
    color: #aaa;
    font-size: 12px;
    margin-top: 5px;
}

/* input message */
#input-message-area{
    height: 70px;
    font-size: 25px;
    color: #6a7376;
    background: #f3eee9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#input-message-area input{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.message span{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #ccc;
    margin-top: 8px;
}