<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="page">
        <div id="app">
            <!-- sidebar -->
            <div id="sidebar">
                <!-- sidebar-nav -->
                <div class="nav">
                    <div id="user-data">
                        <img class="avatar" src="./img/avatar_io.jpg" alt="avatar utente">
                        <span>Nome Utente</span>
                    </div>
                    <div class="nav-commands">
                        <i class="icon fas fa-circle-notch"></i>
                        <i class="icon fas fa-comment-alt"></i>
                        <i class="icon fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- sezione per attivare notifiche desktop -->
                <section id="add-desktop-notification">
                    <div>
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </section>
                <!-- sezione ricerca chat -->
                <div id="search-chat">
                    <div>
                        <div class="search-button">
                            <i class="icon fas fa-search"></i>
                        </div>
                        <input 
                        placeholder="Cerca o inizia in una nuova chat"
                        type="text"
                        v-model= 'searchChat'
                        >
                    </div>
                </div>
                <!-- contatti -->
                <div class="contact-container">
                    <div
                    v-for='(contact, i) in contacts'
                    @click='showChat(i)'
                    :class='[{focused: currentContact === i}, {hide: !filteredContactList.includes(contact)}]'
                    >
                    <span class="contact">
                        <img 
                        class="avatar" 
                        :src=" './img/avatar' + contact.avatar + '.jpg' " 
                        :alt="'avatar' + contact.avatar"
                        >
                        <span class="chat-name">{{contact.name}}</span>
                    </span>
                        
                    </div>
                </div>
            </div>
            <!-- main -->
            <div id="main">
                <!-- main-nav -->
                <div class="nav">
                    <div class="current-contact">
                        <img 
                        class="avatar" 
                        :src=" './img/avatar' + contacts[currentContact].avatar + '.jpg' " 
                        :alt="'avatar' + contacts[currentContact].avatar"
                        >
                        <div class='current-contact-data' >
                            <span>{{contacts[currentContact].name}}</span>
                            <span>Ultimo accesso oggi alle</span>
                        </div>
                    </div>
                    <div class="nav-commands">
                        <i class="icon fas fa-search"></i>
                        <i class="icon fas fa-paperclip"></i>
                        <i class="icon fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- chat corrente -->
                <div id="current-chat">
                    <div
                    v-for='(message, i) in contacts[currentContact].messages'
                    :class="['row-message', message.status === 'sent' ? 'message-out' : 'message-in']"
                    >
                    <!-- messaggio -->
                        <div class="message" @click='messageOptionsShow(i, currentMessages)'>
                            <p>{{message.text}}</p>
                            <!-- chevron opzioni -->
                            <i v-if='message.modalShow' class="icon fas fa-chevron-down"></i>
                            <i v-else class="icon fas fa-chevron-up"></i>
                            <span>{{message.date}}</span>
                            <!-- modale opzioni messaggio -->
                            <div v-if='message.modalShow' class="message-options">
                                <div>Message info</div>
                                <div @click='deleteMessage(i, currentMessages)'>Delete message</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- area di input dei messaggi -->
                <div id="input-message-area">
                    <i class="far fa-smile"></i>
                    <input
                    type="text"
                    placeholder="Scrivi un messaggio"
                    v-model='newMessageText'
                    @keyup.enter='newMessage(currentMessages)'
                    >
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>

    </div>
    
    <script src="./js/script.js"></script>
</body>
</html>